In [2]:
import numpy as np
import pandas as pd

In [5]:
lables=['a','b','c']
my_list=[10,20,30]
arr=np.array(my_list)
d={'a':10,'b':20,'c':100}

In [6]:
pd.Series(my_list,index=lables)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,lables)

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [10]:
pd.Series(labes)

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1=pd.Series([1,2,3,4],index=['a','b','c','d'])
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
ser2=pd.Series([1,2,3,4],index=['a','b1','c1','d1'])
ser2

a     1
b1    2
c1    3
d1    4
dtype: int64

In [20]:
print(ser1['a'])
ser2['b1']

1

2

In [21]:
ser1+ser2

a     2.0
b     NaN
b1    NaN
c     NaN
c1    NaN
d     NaN
d1    NaN
dtype: float64